 @charset 'UTF-8';
 
  /*CSS for nature*/
 
.swiper-button-next{
position:absolute;
z-index:3;
opacity:0.8;
-webkit-filter: grayscale(1);
  filter: grayscale(1);
  margin:5px 0;
  right:25px;
}

.swiper-button-prev{
z-index:3;
position:absolute;
opacity:0.8;
-webkit-filter: grayscale(1);
  filter: grayscale(1);
  margin:5px 22px;
}


.swiper-container{
  position:absolute;
  z-index:-5;
}

html,body{position:relative;height:100%;}body{background:#fff;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;color:#000;margin:0;padding:0}

.swiper-container{width:100%;height:100%;}.swiper-slide{background-position:center;background-size:cover;}

body{overflow:hidden;background:#000}

.back1{padding:0}
.back1{left:-24px}
.back1{margin:-12}
.back1{width:120%}
.back1{height:100%}
.back1{position:absolute}
.back1{z-index:-999}
.back1{transition:none}
.back1{background:#000;
}